.interactive-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.question-area {
  padding: 0 30px;
}

@media only screen and (max-width: 991px) {
  .question-area ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.question-area ul {
  counter-reset: list-number;
  list-style-type: none;
  padding: 0;
}

.question-area ul li {
  margin-bottom: 25px;
  display: flex;
}

.question-area ul li:before {
  counter-increment: list-number;
  content: counter(list-number);
  margin-right: 2rem;
  font-weight: 500;
}

.question-area ul li p:after {
  content: ':';
}

@media only screen and (max-width: 991px) {
  .question-area ul li {
    justify-content: center;
  }

  .question-area ul li:before {
    margin-right: -1rem;
  }
}

.question-area .question {
  flex-shrink: 0;
}

.question-area .question p {
  margin-bottom: 5px;
}

.question-area label input {
  visibility: hidden;
  display: none;
}

.question-area .selection {
  display: flex;
  flex-shrink: 0;
}

.question-area label:nth-child(1) {
  border-left: 1px solid #000;
}

.question-area label:nth-child(3) {
  border-right: 1px solid #000;
}

.question-area label {
  padding: 7px 15px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.question-area label.selected {
  background-color: #fff;
}

.divider {
  width: 1px;
  background-color: #000;
}

.drawing {
  background-color: #E6E3FF;
  padding: 0 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawing .layer {
  position: absolute;
  background-position: center center;
  /* flex: 1 1 0px; */
}

/* .drawing .layer-1 {
  background: url('./assets/value-tradition.svg') center center;
}

.drawing .layer-2 {
  background: url('./assets/introvert.svg') center center;
}

.drawing .layer-3 {
  background: url('./assets/optimist.svg') center center;
}

.drawing .layer-4 {
  background: url('./assets/have-a-plan.svg') center center;
}

.drawing .layer-5 {
  background: url('./assets/cooperative.svg') center center;
}

.drawing .layer-6 {
  background: url('./assets/thick-skinned.svg') center center;
}

.drawing .layer-7 {
  background: url('./assets/analytical-thinker.svg') center center;
}

.drawing .layer-8 {
  background: url('./assets/playful-disposition.svg') center center;
} */

.drawing,
.drawing .grid,
.drawing .layer {
  width: 80vh;
  pointer-events: none;
  user-select: none;
}

.drawing .grid,
.drawing .layer {
  position: absolute;
  height: 80vh;
  background-size: 80vh;
}

@media only screen and (max-width: 1450px) {
  .drawing {
    padding: 0 28vw;
  }

  .drawing,
  .drawing .grid,
  .drawing .layer {
    width: 40vw;
  }

  .drawing .grid,
  .drawing .layer {
    height: 40vw;
    background-size: 40vw;
  }
}

@media only screen and (max-width: 1240px) {
  .drawing {
    padding: 0 24vw;
  }

  .drawing,
  .drawing .grid,
  .drawing .layer {
    width: 40vw;
  }

  .drawing .grid,
  .drawing .layer {
    height: 40vw;
    background-size: 40vw;
  }
}

@media only screen and (max-width: 991px) {
  .drawing,
  .drawing .grid,
  .drawing .layer {
    width: 90vw;
  }

  .drawing .grid,
  .drawing .layer {
    height: 90vw;
    background-size: 90vw;
  }

  .drawing {
    padding: 50px 0;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .drawing,
  .drawing .grid {
    position: relative;
  }

  .interactive-section {
    flex-direction: column;
    flex: 0 1 auto;
  }

  .question-area {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 767px) {}
